/* Header Component */

.navigation {
  width: 100% !important;
  height: 100% !important;
  font-size: 1rem !important;
  background-color: var(--teal);
  justify-content: space-around !important;
  margin: 0;
}

.navIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none !important;
}

.navbarIcons {
  font-size: 2rem !important;
  color: var(--cream) !important;
  padding: 10px;
}

.navbarIcons:hover {
  font-size: 2rem !important;
  color: var(--mint) !important;
  padding: 10px;
}

.navbarBrand {
  display: flex;
  color: var(--cream) !important;
  font-size: 100%;
}

.navbarlogo {
border-radius: 100%;
width: 60px;
}

.navLink {
  color: var(--cream) !important;
  font-size: 60%;
  border-radius: 20px;
  width: auto;
}

.logoContainer {
  margin-left: 10px !important;
}

.navLink:hover {
  background-color: var(--mint);
  border-radius: 20px;
  width: auto;
}

/* Hero */
.heroContainer {
  background-color: var(--cream);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Adjust the number of columns as needed */
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.bg-image {
  background-image: url(../images/KernowPetsStore.jpeg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
  grid-column: 1; /* Position the image in the first column */
  border-radius: 10px;
}

.opening-hours {
  grid-column: 2; /* Position the opening hours in the second column */
  /* Add styling for the opening hours */
}

.ul-opening-times {
  font-family: 'Gloria Hallelujah', cursive;
  font-size: 1em;
  font-weight: 600;
  margin: 0;
  padding: 0;
}

.hero-images {
  grid-column: 3;
}

.heroimage {
  height: 150px;
}
/* Media Query */

@media (max-width: 768px) {
  /* Media query for screens up to 768px width (typically mobile devices) */
  .heroContainer {
    grid-template-columns: 1fr; /* Display as a single column */
  }

  .bg-image,
  .opening-hours,
  .hero-images {
    grid-column: 1; /* Reset grid-column to span the full width */
  }
}

/* About Component */

.aboutCard {
  font-size: 100%;
  text-align: center;
  border-radius: 20px;
  width: 100%;
}

.aboutContainer {
  width: 100%;
}

.reptileBoarding {
  border: solid 10px var(--teal);
  background-color: var(--mint);
  border-radius: 50px;
  width: fit-content;
  width: moz-fit-content;
  margin: auto;
}

/* Leaflet */

.venue {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
.leaflet-container {
  width: 90%;
  height: 60vh;
  border-radius: 25px;
  margin: auto;
  text-align: center;
}
.leaflet-popup-close-button {
  color: var(--mint) !important;
}

.venue .slogan {
  text-align: center;
}

.card {
  display: flex !important;
  width: 100%;
  margin: 0 auto;
  background: transparent;
}

.leaflet-popup-content-wrapper {
  width: 100% !important;
  background: var(--teal) !important;
  border-radius: 10px;
}

.leaflet-popup {
  width: moz-fit-content;
}

.content {
  display: flex;
  flex-direction: column;
  background: transparent;
}
.content h5 {
  font-size: 12px;
}
.content h4 {
  color: var(--black);
  font-size: 15px;
  font-weight: bold;
}
.content h3 {
  font-weight: bold;
  font-size: 17px;
  color: var(--teal);
}

.leaflet-card-ul {
  margin: 0;
  padding: 0;
}
.img-container {
  width: 100% !important;
  border-radius: 10px !important;
}

.shopImage {
  border-radius: 5px;
}

.custom-icon {
  font-size: 40px; /* Adjust the font size as needed */
  color: var(--teal); /* Change the color to your desired color */
}

/* Reptile Page */

.careSheetLinks {
  overflow: auto;
  max-height: 200px; /* Adjust this value to your preference */
}

.careSheetLink {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.careSheetLinks::-webkit-scrollbar {
  width: 8px; /* Set the width of the scrollbar */
}

.careSheetLinks::-webkit-scrollbar-track {
  background-color: var(--cream); /* Set the background color of the track */
}

.careSheetLinks::-webkit-scrollbar-thumb {
  background-color: var(--teal); /* Set the color of the scrollbar thumb */
  border-radius: 4px; /* Add border radius to the scrollbar thumb */
}

.careSheetLinks::-webkit-scrollbar-thumb:hover {
  background-color: var(--teal); /* Set the color of the scrollbar thumb on hover */
}

.reptileCard {
  padding: 20px; 
  display: flex;
  flex-direction: column;
  width: 25rem !important;
  border-radius: 10px !important;
  border: 10px solid var(--teal) !important;
  margin: 1% !important;
}

.cardBodyContent {
  margin-bottom: 1rem;
}

.cardImagePosition {
  display: flex;
}

.cardImg {
  width: 100%;
  height: 100%;
  object-fit: 100%;
  overflow: hidden;
  border-radius: 10px;
}

.cardBodyText {
  font-size: 1em !important;
  display: flex;
  flex-direction: column;
}

.cardBodyTitle {
  font-size: 1em !important;
  text-decoration: underline;
}

.cardBodyLinks {
  font-size: 1em !important;
  display: flex;
  flex-direction: column;
}

.reptileCardLink,
.reptileAnchorTag {
  font-size: 1em !important;
  line-height: 1 !important;
}

.reptileText {
  font-size: 1em !important;
}

/* Live Food */

.live-food-subtitle {
  font-family: "Gloria Hallelujah", cursive;
  text-align: center;
  margin-bottom: 10px;
}

.pricing-grid {
  display: flex;
  flex-wrap: wrap; /* Allow the sections to wrap on smaller screens */
  justify-content: center; /* Center the content horizontally */
  align-items: flex-start; /* Align items to the top */
}

.grid-section {
  flex: 1;
  padding: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  table-layout: fixed;
}

th,
td {
  text-align: center;
}

.beardiepic {
  width: 50%;
 margin: auto;
  border-radius: 20px;
}

.table-heading {
  text-align: center; /* Center the heading */
}

.note-box {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px;
  margin: 20px auto 0;
  width: 80%;
  border-radius: 20px;
  text-align: center; /* Center the content */
}

/* Mobile Responsive Styles */

@media (max-width: 768px) {
  .pricing-grid {
    flex-direction: column; /* Display sections in a single column */
    align-items: center; /* Center the sections vertically */
  }

  .grid-section {
    padding: 10px; /* Reduce the padding */
  }

  .note-box {
    width: 90%; /* Adjust the width for smaller screens */
  }
}

/*  Footer Component */

.footer {
  width: 100%;
  font-size: 1rem !important;
  text-align: center;
  padding: 1rem;
  margin: 0;
  background-color: var(--teal);
  color: var(--mint);
}
