/* Header Component */

.navigation {
  width: 100% !important;
  height: 100% !important;
  font-size: 1rem !important;
  background-color: var(--teal);
  justify-content: space-around !important;
  }

.navIcons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none !important;
}

.navbarIcons {
  font-size: 2rem !important;
  color: var(--mint) !important;
  padding: 10px;
}

.navbarIcons:hover {
  font-size: 2rem !important;
  color: var(--cream) !important;
  padding: 10px;
}

.navbarBrand {
  color:var(--cream) !important;
  font-size: 100%;
  margin-left: 0;
}

.navLink {
  color: var(--cream) !important;
  font-size: 60%;
  border-radius: 20px;
  width: auto;
}

.navLink:hover {
  background-color: var(--mint);
  border-radius: 20px;
  width: auto;
}



/* About Component */

.aboutCard {
  font-size: 100%;
  text-align: center;
  border-radius: 20px;
  padding: 1%;
  margin-bottom: 5%;
}

.aboutContainer {
  width: 80%;
}

.aboutText {
  font-size: 100%;
  text-align: center;
  background-color: var(--mint);
  border: solid 10px var(--black);
  border-radius: 20px;
  padding: 20px;
  margin-top: 50px;
}

/* Leaflet */

.venue{
  display: grid;
  grid-template-columns: repeat(1,1fr);
  padding-bottom: 40px;
}
.leaflet-container {
  width: 70%;
  height: 80vh;
  margin-top: 30px;
  border-radius: 25px;
  margin: auto;
  
}
.venue .slogan {
  width: 69%;
  padding: 30px 0px;
  margin: auto;
  color: #fff;
  text-align: center;
}

.card {
  display: flex !important;
  width: fit-content !important;
  margin: 0 auto;
  background: transparent;
}

.leaflet-popup-content-wrapper {
  width: fit-content !important;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
}

.leaflet-popup {
  width: fit-content !important;
}

.content {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
  padding-bottom: 10px;
  background: transparent;
}
.content h5 {
  font-size: 12px;
}
.content h4 {
  color: var(--black);
  font-size: 15px;
  font-weight: bold;
}
.content h3 {
  font-weight: bold;
  font-size: 17px;
  color: var(--teal);
}
.img-container {
  width: 100% !important;
  border-radius: 10px !important;
}

.shopImage {
  border-radius: 5px;
}
/*  Footer Component */

.footer {
  width: 100%;
  font-size: 1rem !important;
  text-align: center;
  padding: 1rem;
 margin: 0;
 background-color: var(--teal);
 color: var(--mint);
}