/* Home Page */

.homeSubtitle, .subheading {
  text-align: center; /* Center-align the text */
  color: var(--black); /* Set the text color */
}

.homeImage {
  width: 30%; /* Set the width of the image */
  border-radius: 20px; /* Add a border radius to the image */
  margin-bottom: 10px; /* Add some bottom margin to the image */
}

/* Reptile Page */

.reptilePageCard {
  display: flex; /* Display the cards in a flex layout */
  flex-wrap: wrap; /* Allow the cards to wrap to the next line */
  justify-content: space-around; /* Space the cards evenly horizontally */
}

/* stock page */

.stock-image-grid-container {
  display: flex;
  flex-wrap: wrap; /* Allow the cards to wrap to the next line */
  justify-content: space-evenly; /* Space the cards evenly horizontally */
  padding: 40px;
}

/* Live Food Page */

.live-food-banner {
  width: 100%; /* Set the width of the banner */
}

.contact-button {
  background-color: var(--teal);
  color: var(--cream);
  border: solid 10 px var(--teal);
  border-radius: 10px;
  padding: 20px;
}

.contact-button:hover {
  background-color: var(--mint);
  border: solid 10 px var(--mint);
  border-radius: 10px;
  padding: 20px;
}

/* Contact Page */

.contact-container {
  display: grid; /* Display the container as a grid */
  grid-template-columns: 1fr; /* Display as a single column */
  gap: 20px; /* Adjust the gap between elements as needed */
  margin-top: 50px; /* Add top margin to the container */
}

@media (min-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr 1fr; /* Use two columns for screens wider than 768px */
  }
}

.contact-table-container {
  width: 100%; /* Set the width of the container */
  border: solid 10px var(--teal); /* Add a solid border */
  border-radius: 20px; /* Add a border radius to the container */
  overflow: hidden; /* Ensure the border-radius is visible */
  margin: 10px auto; /* Center the container horizontally */
}

.contact-table {
  width: 100%; /* Set the width of the table */
}

.contact-table td {
  padding: 8px; /* Add padding to the table cells */
  text-align: left; /* Left-align the text in the table cells */
  font-weight: 600; /* Set the font weight of the table cells */
  word-break: break-word; /* Break words if they exceed the cell width */
}

.fa {
  font-size: 2rem; /* Set the font size of the icon */
  font-weight: bold; /* Set the font weight of the icon */
  color: var(--teal); /* Set the color of the icon */
}

.fa:hover {
  color: var(--mint); /* Change the color of the icon on hover */
}

span {
  display: flex; /* Display as a flex container */
  justify-content: space-around; /* Space the elements evenly horizontally */
  margin: 0% 20% 0% 20%; /* Set the margin around the span */
  align-items: center; /* Center-align the items vertically */
}

/* Gallery Page */
.image-grid-container {
  display: flex;
}

.image-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px;
}

.image-grid img {
  width: 150px; /* Adjust the width as needed */
  height: 150px; /* Adjust the height as needed */
  margin: 5px; /* Adjust the margin as needed */
  border: 1px solid #ccc; /* Add a border */
  cursor: pointer;
}

.image-grid img.selected {
  width: 500px; /* Increase the width for the selected image */
  height: 500px; /* Increase the height for the selected image */
}

/* Media query for mobile devices */
@media (max-width: 767px) {
  .image-grid img {
    width: 100%; /* Set the width to 100% of the container */
    height: auto; /* Automatically adjust the height */
    margin: 5px; /* Adjust the margin as needed */
  }

  .image-grid img.selected {
    width: 100%; /* Set the width to 100% of the container */
    height: auto; /* Automatically adjust the height */
  }
}
/* Page Not Found */

.notFoundPageContainer {
  width: 100%; /* Set the width of the container */
  background-color: var(--mint); /* Set the background color */
  height: 85vh; /* Set the height of the container */
}

.notFoundPageInner {
  height: 80vh; /* Set the height of the inner container */
  display: flex; /* Display as a flex container */
  justify-content: center; /* Center-align the content horizontally */
  align-items: center; /* Center-align the content vertically */
}

.notFoundPageContent {
  display: flex; /* Display as a flex container */
  justify-content: center; /* Center-align the content horizontally */
  align-items: center; /* Center-align the content vertically */
  border: 20px solid var(--teal); /* Add a solid border */
  border-radius: 20px; /* Add a border radius to the container */
  width: 80%; /* Set the width of the container */
  background-color: var(--teal); /* Set the background color */
  color: var(--mint); /* Set the text color */
}

.notFoundPageContent div {
  width: 100%; /* Set the width of the div */
  height: 100%; /* Set the height of the div */
  min-height: 400px; /* Set the minimum height of the div */
  display: flex; /* Display as a flex container */
  justify-content: flex-end; /* Align the content to the right */
  flex-direction: column; /* Arrange the content in a column */
  align-items: flex-start; /* Align the content to the left */
}

.notFoundPageContent div:nth-child(1) {
  justify-content: center; /* Center-align the content horizontally */
  align-items: center; /* Center-align the content vertically */
}

.notFoundPageContent p {
  font-size: 1rem; /* Set the font size of the paragraph */
}

.notFoundPageContent span {
  font-size: 2rem; /* Set the font size of the span */
}

.notFoundPageContent a {
  color: var(--mint); /* Set the color of the link */
}

.notFoundPageContent img {
  display: flex; /* Display the image as a flex container */
  width: 200%; /* Set the width of the image to twice its container */
}
