/* General Page Layout */
.pageBackground {
  background-color: var(--cream);
  text-align: center;
  padding: 0;
  margin: 0;
  min-height: 87vh;
}

/* Home Page */

.pageTitle {
  color: var(--black) !important;
  text-align: center;
}

.homeSubtitle {
  text-align: center;
  color: var(--black);
  padding-bottom: 5%;
}

.aboutMePosition {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 80%;
}

.homeImage {
  width: 30%;
  border-radius: 20px;
  margin-bottom: 20px;
}

/* Live Food Page */
.live-food-banner {
  width: 80%;
  border-radius: 20px;
  
}

/* Contact Page */

.contact-container {
  display: grid;
  grid-template-columns: 1fr; /* Display as a single column */
  gap: 20px; /* Adjust the gap between elements as needed */
  margin-top: 50px;
}

@media (min-width: 768px) {
  .contact-container {
    grid-template-columns: 1fr 1fr; /* Use two columns for screens wider than 768px */
  }
}
.pageTitle {
  color: var(--black);
  font-size: 5em;
  padding-top: 20px;
}

.buttonGroup {
  color: var(--teal);
  color: var(--black);
  text-align: left;
  margin: 0;
  padding:0;
}
.contact-table-container {
  width: 80%;
  border: solid 10px var(--teal);
  border-radius: 20px;
  overflow: hidden; /* Ensure the border-radius is visible */
  margin: auto;
}

.contact-table {
  width: 100%;
}

.contact-table td {
  padding: 8px;
  text-align: left;
  font-weight: 600;
}

.fa {
  font-size: 2rem;
  font-weight: bold;
  color: var(--teal);
}

.fa:hover {
  color: var(--mint);
}

span {
  display: flex;
  justify-content: space-around;
  margin: 0% 20% 0% 20%;
  align-items: center;
}

/* Page Not Found */

.notFoundPageContainer {
  width: 100%;
  background-color: var(--mint);
  height: 85vh;
}

.notFoundPageInner {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.notFoundPageContent {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px solid var(--teal);
  border-radius: 20px;
  width: 80%;
  background-color: var(--teal);
  color: var(--mint);
}

.notFoundPageContent div {
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  align-items: flex-start;
}

.notFoundPageContent div:nth-child(1) {
  justify-content: center;
  align-items: center;
}

.notFoundPageContent p {
  font-size: 1rem;
}

.notFoundPageContent span {
  font-size: 2rem;
}

.notFoundPageContent a {
  color: var(--mint);
}

.notFoundPageContent img {
  display: flex;
  width: 200%;
}
